.accepted-offer {
    display: flex;
    justify-content: center;
}

.center-div {
    width: 100%;
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 20px;
    overflow: auto;
    background-color: rgb(197, 41, 155);
    color: #fff;
}

.center-div div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 50px;
    min-width: 300px;
}

.center-div div svg {
    transform: scale(2);
}

.host-profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}