.accepted-offer {
    display: flex;
    justify-content: center;
}

.center-div {
    width: 100%;
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-radius: 20px;
    overflow: auto;
    background-color: rgb(197, 41, 155);
    color: #fff;
}

.center-div::-webkit-scrollbar {
    height: 8px;
    background-color: transparent;
}

.center-div::-webkit-scrollbar-thumb {
    height: 100%;
    background-color: #000;
    border-radius: 30px;
}

.center-div div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 50px;
    min-width: 300px;
    position: relative;
}

.center-div div svg {
    transform: scale(2);
}

.host-profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.notification {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 30px;
}

.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}