.add-offer-progress {
    height: 100vh;
}

.steps-container {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.progress-bar {
    height: 8px;
    width: 30%;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
}

.back-next-container {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
}

.back-next-container button {
    padding: 10px 50px;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 10px;
    border: 1px solid;
    cursor: pointer;
}

.next-btn {
    background-color: rgb(197, 41, 155);
    color: #fff;
}

.back-btn {
    background-color: #000;
    color: #fff;
}

.step-1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 100%;
    width: 100%;
}

.step-1-container p {
    width: 30%;
}

.step-1-container p span {
    font-size: 3rem;
    font-weight: 800;
}

.step-1-container img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.step-2-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.accommodation-btns {
    display: flex;
    gap: 5rem;
}

.accommodation-btns button {
    height: 170px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    background-color: #fff;
}

.accommodation-btns button:focus {
    border: 3px solid rgb(197, 41, 155);
}

.accommodation-btns img {
    height: 50%;
}

.step-3-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step-3-container h1 {
    margin-bottom: 3rem;
}

.step-3-container button {
    width: 70%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    padding: 1rem 3rem;
    border-radius: 5px;
    border: 1px solid;
    background-color: #fff;
    cursor: pointer;
}

.step-3-container button:focus {
    border: 3px solid rgb(197, 41, 155);
}

.step-3-container button svg {
    transform: scale(2.5);
    color: rgb(197, 41, 155);
}

.step-3-container button p:nth-of-type(1) {
    font-size: 1.3rem;
    font-weight: 800;
}

.step-3-container button p:nth-of-type(2) {
    width: 80%;
}

.step-4-container {
    border: 1px solid green;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address-input {
    position: relative;
    width: 30%;
    height: 15%;
    margin-top: 3rem;
}

.address-input input {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 2px solid;
    text-indent: 3rem;
    font-size: 1.2rem;
    padding-right: 3rem;
}

.address-input svg {
    position: absolute;
    left: 1.3rem;
    top: 50%;
    transform: translateY(-50%) scale(1.5);
}

.step-5-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guests-container {
    margin-top: 3rem;
}

.guests-container, 
.bedrooms-container, 
.beds-container, 
.bathrooms-container {
    display: flex;
    border-bottom: 1px solid #b5b5b5;
    padding: 1rem 0;
    width: 40%;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 800;
}

.minus-plus-container {
    display: flex;
    gap: 1rem;
}

.minus-plus-container button {
    height: 39px;
    width: 39px;
    border-radius: 50%;
    border: 2px solid rgb(197, 41, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.minus-plus-container button:hover {
    background-color: rgb(197, 41, 155);
    border: none;
    color: #fff;
}

.minus-plus-container button:active {
    background-color: rgb(255, 54, 201);
    border: none;
    color: #fff;
}

.minus-plus-container svg {
    transform: scale(1.5);
}

.step-6-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amenities-container {
    height: 60%;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
}

.amen-btn {
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgb(174, 174, 174);
    transition: all .3s ease;
    font-size: 1rem;
    font-weight: 800;
}

.amen-btn-active {
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    border: 3px solid rgb(197, 41, 155);
    transition: all .3s ease;
}

.amenities-container button:hover {
    border: 3px solid #000;
}

.amen-btn svg, .amen-btn-active svg {
    transform: scale(1.5);
}

.step-7-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step-7-container h1 {
    margin-bottom: 3rem;
}

.upload-photo-container {
    border: 3px solid rgb(197, 41, 155);
    width: 32%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 1.3rem;
    font-weight: 800;
    color: rgb(197, 41, 155);
    cursor: pointer;
}

.upload-photo-container svg {
    transform: scale(5);
}

.input-file {
    display: none;
}

.step-8-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step-8-container p {
    color: gray;
}

.text-area {
    border-radius: 10px;
    margin-top: 3rem;
    text-indent: 1rem;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.step-9-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step-9-container p {
    color: gray;
}

.step-10-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step-10-container p {
    color: gray;
}

.price-container {
    height: 15%;
    width: 25%;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 3rem;
}

.price-container input {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    border: 2px solid;
    text-indent: 5rem;
    font-size: 1.3rem;
    padding-inline: 5rem;
}

.price-container svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(3);
    left: 40px;
}

.steps-end-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watch-gif {
    height: 60%;
}

.success-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    height: 40%;
}

.success-container p:nth-of-type(1) {
    font-weight: 800;
}

.success-container img {
    height: 20%;
}