.sign-container {
    height: 95%;
    max-height: 700px;
    width: 60%;
    max-width: 1000px;
    min-width: 700px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    position: relative;
    display: flex;
}

.background-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 150px 150px 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, .7);
    transition: all 1s ease;
    z-index: 2;
}

.background-image-active {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 150px 0 0 150px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .7);
    transition: all 1s ease;
    transform: translateX(100%);
    z-index: 2;
}

.right-side {
    width: 50%;
    height: 100%;
    padding-inline: 2rem;
    transition: all 1s ease;
    z-index: 1;
}

.right-side-active {
    width: 50%;
    height: 100%;
    padding-inline: 2rem;
    transition: all 1s ease;
    transform: translateX(-100%);
    z-index: 1;
}

.signup-signin-container {
    display: flex;
    font-size: 14px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: fit-content;
    position: relative;
}

.signup-signin-container h1 {
    cursor: pointer;
    padding: 3px 10px;
    transition: all .3s ease;
}

.signup-signin-container h1:hover {
    background-color: rgb(197, 41, 155);
    color: #fff;
}

.bottom-outline {
    content: '';
    height: 3px;
    width: 45%;
    background-color: rgb(197, 41, 155);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 1s ease;
}

.bottom-outline-active {
    content: '';
    height: 3px;
    width: 45%;
    background-color: rgb(197, 41, 155);
    position: absolute;
    bottom: 0;
    right: 55%;
    transition: all 1s ease;
}

.user-name-container, .email-container, .password-container {
    position: relative;
    height: 7%;
    margin-bottom: 2rem;
}

.password-container {
    display: flex;
}

.password-container img {
    height: 25px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.user-name-p, .email-p, .password-p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    transition: all .3s ease;
}

.user-name-p-active, .email-p-active, .password-p-active {
    position: absolute;
    top: -20px;
    left: 2%;
    transition: all .3s ease;
}

.user-name-container input, .email-container input, .password-container input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid rgb(197, 41, 155);
}

.user-name-container input:focus, .email-container input:focus, .password-container input:focus {
    outline: none;
}

.sign-up-btn, .sign-in-btn {
    margin-top: 2rem;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(197, 41, 155);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    transition: all .3s ease;
}

.loading {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid #fff;
    position: relative;
    animation: spin infinite linear 1s;
}

.loading::before {
    content: '';
    height: 10px;
    width: 15px;
    background-color: rgb(197, 41, 155);
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
};

.sign-up-btn:hover, .sign-in-btn:hover {
    background-color: rgb(156, 32, 123);
}

.sign-in-container, .sign-up-container {
    height: 100%;
}







@media (max-width: 699px) {
    .background-image {
        display: none;
    }

    .background-image-active {
        display: none;
    }

    .right-side {
        width: 100%;
    }

    .right-side-active {
        width: 100%;
        transform: translateX(0);
    }

    .sign-container {
        min-width: 300px;
    }
}