.sign-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-sign {
    color: rgb(197, 41, 155);
    position: absolute;
    left: 20px;
    top: 20px;
}