.step-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 100%;
    width: 100%;
}

.step-1 p {
    width: 30%;
}

.step-1 p span {
    font-size: 3rem;
    font-weight: 800;
}

.step-1 img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
}