.step-7 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step-7 h1 {
    margin-bottom: 3rem;
}

.upload-photo-container {
    border: 3px solid rgb(197, 41, 155);
    width: 32%;
    height: 50%;
    max-height: 400px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 1.3rem;
    font-weight: 800;
    color: rgb(197, 41, 155);
    cursor: pointer;
}

.upload-photo-container svg {
    transform: scale(5);
}

.input-file {
    display: none;
}

@media (max-width: 1166px) {
    .upload-photo-container {
        gap: 3rem;
    }
}