.step-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.step-1 p {
    width: 50%;
    min-width: 300px;
}

.step-1 p span {
    font-size: 3rem;
    font-weight: 800;
    color: rgb(197, 41, 155);
}

.step-1 img {
    height: 300px;
    transform: scale(2);
    z-index: -1;
}

@media (max-width: 899px) {
    .step-1 img {
        display: none;
    }
}